<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="QueryEngineUnit">
            <directory>tests/Phpunit</directory>
        </testsuite>
        <testsuite name="QueryEngineIntegration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/Performance</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
